{{template "layout.html" .}}

{{define "title"}}Edit Message{{end}}

{{define "content"}}
<h1>Edit Message</h1>
<form action="/admin/guestbook/{{.Data.GuestbookID}}/message/{{.Data.ID}}/edit" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{.Data.Name}}" required>
    <label for="website">Website (optional):</label>
    <input type="url" id="website" name="website" value="{{if .Data.Website}}{{.Data.Website}}{{end}}">
    <label for="isApproved">Is message approved:</label>
    <input type="checkbox" id="isApproved" name="isApproved" {{if .Data.Approved}}checked{{end}}>
    <br>
    <br>
    <label for="text">Message:</label>
    <textarea id="text" name="text" required>{{.Data.Text}}</textarea>
    <br>
    <input type="submit" value="Update">
</form>
{{end}}
