{{template "layout.html" .}}

{{define "title"}}Home{{end}}

{{define "nav-right"}}
<a href="/admin">Dashboard</a>
{{end}}

{{define "content"}}
<div class="callout">
    <p>
        📢 Stay up to date with new changes and updates by following our official Fediverse account: <a
            href="https://social.meadow.cafe/@guestbooks" target="_blank">@guestbooks</a> (or through <a
            href="https://social.meadow.cafe/@guestbooks/feed.rss">RSS</a>)
    </p>
</div>
<p>
    This is very much a WIP project, but the idea is that it will allow you to create and embed one (or more) guestbooks
    into your site!
</p>
<p>
    The platform mostly works and should be fairly stable. So even though it's missing some polish you can already <a
        href="/admin/signin">Sign in</a>, create a guestbook, and share it with others!
</p>
<p>
    You'd be doing me a favor if you
    decide to give this a try and <a href="https://codeberg.org/meadowingc/guestbooks/issues">report any issues</a> you
    find 😊
</p>
<hr>
<p>
    Note that this platform is very much a development project. I did because I wanted a Guestbook on my blog and I
    thought it would be fun. But it's bound to be unreliable and break from time to time. I'll do my best to keep it
    working, though if you require something more <i>serious</i> then check out one of the many other guestbook
    services.
</p>
<p>
    This service free. I don't plan on adding any paid plan in the forseeable future, and if I do all current users will
    remain free forever (or at least as long as the platform exists).
</p>
<hr>
<br>
<p>
    Note that by using <i>Guestbooks</i> you agree to our <a href="/terms-and-conditions">Terms and Conditions</a>.
</p>
{{end}}