{{template "layout.html" .}}

{{define "title"}}User Settings{{end}}

{{ define "content" }}
<h1>User Settings</h1>
<form method="post" action="/admin/settings">
	<p>You can add your email here if you want to receive notifications whenever someone posts something on one of your guestbooks.</p>
	<label for="email">Email:</label>
	<input type="email" id="email" name="email" value="{{ .Data.Email }}" required>
	<br>
	<label for="notify">Receive Email Notifications:</label>
	<input type="checkbox" id="notify" name="notify" {{ if .Data.EmailNotifications }}checked{{ end }}>
	<br>
	<br>
	<input type="submit" value="Update Settings">
</form>



{{ end }}
