{{template "layout.html" .}}

{{define "title"}}Home{{end}}

{{define "content"}}
<div class="callout">
    <p>
        📢 This site is not functional yet! It's mostly a proof of concept at this stage.
    </p>
</div>
<hr>
<p>
    The problem: I want to use my own static site generator to build my blog,
    but I don't want to write my blogs from my code editor. I also want to be
    able to manage them through my phone.
</p>
<p>
    The solution: spin up my own <i>very simple</i> app that I can use to write
    and manage my posts!
</p>
<p>
    This service free. I don't plan on adding any paid plan in the forseeable
    future, and if I do all current users will remain free forever (or at least
    as long as the platform exists).
</p>
<hr>
<p>
    Note that by using <i>Kitty</i> you agree to our <a href="/terms-and-conditions">Terms and Conditions</a>.
</p>
<p>
    Much of this site's style is shamelessly plagiarised from the great <a href="https://bearblog.dev/">Bearblog</a>
    platform.
</p>
<p>
    Note that this platform is very much a development project. I did because I
    wanted a CMS that would be easy to consume through API and I thought it
    would be fun. But it's bound to be unreliable and break from time to time.
    I'll do my best to keep it working, though if you require something more
    <i>serious</i> then check out one of the many other guestbook services.
</p>
{{end}}