{{template "layout.html" .}}

{{define "title"}}{{.Data.Title}}{{end}}

{{define "content"}}
{{ if not (and .Global.ViewingUser (isHomePageView .Global.RequestPath .Global.ViewingUser.Username .Data.IsPage)) }}
<h1>{{.Data.Title}}</h1>

{{if not .Data.IsPage}}
<p>
    <i>
        <time datetime="{{.Data.PublishedDate | dateFmt "2006-01-02T15:04Z"}}">
            {{.Data.PublishedDate | dateFmt "Jan 02, 2006"}}
        </time>
    </i>
</p>
{{ end }}
{{ end }}

{{.Data.Body | parseMarkdown}}

{{/* Tag links */}}
{{ $username := "" }}
{{ if .Global.ViewingUser }}{{ $username = .Global.ViewingUser.Username }}{{ end }}
{{ $tags := jsonListToSlice .Data.Tags }}
{{ if $tags }}
<div class="post-tags" style="margin-top:25px;">
    <small>Tags:
    {{ range $tags }}
        <a href="/u/{{ pathEscape $username }}/tag/{{ pathEscape . }}">{{ . }}</a>
    {{ end }}
    </small>
</div>
{{ end }}

{{end}}
