{{template "layout.html" .}}

{{define "title"}}Sign Up{{end}}

{{define "content"}}
<form method="post" style="margin-top:1em;">
    {{ .Global.CSRFField }}
    <div class="meta-card" style="margin:0 0 1.25rem;">
        <div class="meta-section-heading">
            <h4>Dashboard Sign Up</h4>
        </div>

        <div class="field" style="margin-bottom:1em;">
            <label for="username" class="form-label-sm">Username:</label>
            <input type="text" id="username" name="username" required class="input-cozy-sm">
        </div>

        <div class="field" style="margin-bottom:1em;">
            <label for="password" class="form-label-sm">Password:</label>
            <input type="password" id="password" name="password" required class="input-cozy-sm">
        </div>

        <button type="submit" class="btn-cozy">Sign Up</button>
    </div>
</form>

<br />
<div>
    <small>Already have an account? Sign in <a href="/signin">here</a>.</small>
</div>
<div>
    <small>Note that by using <i>{{.Global.SiteName}}</i> you agree to our <a href="/terms-and-conditions">Terms and
            Conditions</a>.</small>
</div>
{{end}}
