{{template "layout.html" .}}

{{define "title"}}Terms and Conditions{{end}}

{{define "nav-right"}}
<a href="/admin">Dashboard</a>
{{end}}

{{define "content"}}
<h3>Privacy and Terms of Use</h3>

<p>
    <i>{{.Global.SiteName}}</i> uses cookies to track who you are in the <code>/dashboard</code> pages, to know which
    <i>{{.Global.SiteName}}</i> you own and prevent you from editing other users' data. We don't share this cookie information
    with any other sites. We don't track no other information besides your account name and an encrypted version of your
    password. We don't and will never sell/lend/exchange/peddle/auction nor in general give your data to anyone else. By
    using the service you agree to cookies being used and the fact that we track basic information to allow site
    functionality.
</p>

<p>
    The software is provided "as is", without warranty of any kind, express or implied, including but not limited to
    the warranties of merchantability, fitness for a particular purpose and noninfringement. In no event shall the
    authors or copyright holders be liable for any claim, damages or other liability, whether in an action of
    contract, tort or otherwise, arising from, out of or in connection with the software or the use or other
    dealings in the software.
</p>
{{end}}