{{template "layout.html" .}}

{{define "title"}}Guestbook List{{end}}

{{define "styles"}}
<style>
    .form-group {
        display: flex;
        align-items: left;
        text-align: left;
        margin-bottom: 10px;
    }

    .form-group label {
        flex: 1;
        margin-right: 10px;
        text-align: right;
    }

    .form-group input,
    .form-group textarea {
        flex: 6;
    }

    .form-group input[type="checkbox"] {
        flex: 0;
        margin-left: 10px;
    }

    button[type="submit"],
    input[type="submit"] {
        padding: 0.7em;
        border-radius: 5px;
    }

    textarea[name="body"] {
        width: 100%;
        height: 20em;
        resize: vertical;
    }

    textarea,
    input:not([type="submit"]) {
        background-color: #eceff4;
        border: none;
        line-height: 1.7;
        outline: none;
        color: inherit;
        padding: 10px;
        font-size: 18px;
    }

    @media (prefers-color-scheme: dark) {

        textarea,
        input:not([type="submit"]) {
            background-color: #004052;
        }
    }

    @media (max-width: 600px) {
        .form-group {
            flex-direction: column;
        }

        .form-group label {
            text-align: left;
        }

        .form-group input,
        .form-group textarea {
            width: 100%;
        }

        .form-group input[type="checkbox"] {
            margin-left: 0;
            width: 1em;
        }
    }
</style>
{{end}}

{{define "content"}}

{{$isEditing := (and .Data (or .Data.ID false))}}
<h1>{{if $isEditing}}Edit{{else}}New{{end}} Post</h1>
<div>
    {{ $formActionUrl := "/dashboard/post/new" }} <!-- Default URL -->
    {{ if $isEditing }}
    {{ $formActionUrl = printf "/dashboard/post/%d" .Data.ID }} <!-- Overwrite URL if $isEditing is truthy -->
    {{ end }}


    {{ if $isEditing }}
    <form action="{{ printf " /dashboard/post/%d/delete" .Data.ID }}" method="post"
        onsubmit="return confirm('Are you sure you want to delete this post?');">
        <input type="submit" value="Delete Post" style="float: right;">
    </form>
    {{ end }}

    <form action="{{ $formActionUrl }}" method="post">
        <div class="action-buttons">
            <input type="submit" value="{{if $isEditing}}Update{{else}}Create{{end}} Post">
        </div>
        <br>
        <h4>Post Details</h4>
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" {{if $isEditing}}value="{{.Data.Title}}" {{end}} required>
        </div>
        <div class="form-group">
            <label for="link">Link:</label>
            <input type="text" id="link" name="link" {{if $isEditing}}value="{{.Data.Link}}" {{end}}
                placeholder="If not provided, the title will slugified and used as the link">
        </div>
        <div class="form-group">
            <label for="publishedDate">Published Date:</label>
            {{$dateVal := ""}}
            {{ if $isEditing }}
            {{ $dateVal = .Data.PublishedDate | dateFmt "2006-01-02T15:04" }}
            {{ else }}
            {{ $dateVal = now | dateFmt "2006-01-02T15:04" }}
            {{ end }}
            <input type="datetime-local" id="publishedDate" name="publishedDate" value="{{ $dateVal }}" required>
        </div>
        <div class="form-group">
            <label for="tags">Tags (comma-separated):</label>
            <input type="text" id="tags" name="tags" {{if $isEditing}}value="{{.Data.Tags | jsonListToCommaSeparated}}"
                {{end}}>
        </div>
        <div class="form-group">
            <label for="metaDescription">Meta Description:</label>
            <input type="text" id="metaDescription" name="metaDescription" {{if
                $isEditing}}value="{{.Data.MetaDescription}}" {{end}}>
        </div>
        <div class="form-group">
            <label for="metaImage">Meta Image URL:</label>
            <input type="text" id="metaImage" name="metaImage" {{if $isEditing}}value="{{.Data.MetaImage}}" {{end}}>
        </div>
        <div class="form-group">
            <label for="lang">Language:</label>
            <input type="text" id="lang" name="lang" {{if $isEditing}}value="{{.Data.Lang}}" {{else}}value="en" {{end}}
                required>
        </div>
        <div class="form-group">
            <label for="makeDiscoverable">Make Discoverable:</label>
            <input type="checkbox" id="makeDiscoverable" name="makeDiscoverable" {{if and $isEditing
                .Data.MakeDiscoverable}}checked{{end}}>
        </div>
        <div class="form-group">
            <label for="isPage">Is Page:</label>
            <input type="checkbox" id="isPage" name="isPage" {{if and $isEditing .Data.IsPage}}checked{{end}}>
        </div>
        <br>
        <div>
            <label for="body">Body:</label>
            <textarea name="body" id="body" style="min-height: 500px;border-top: 1px solid lightgrey;"
                placeholder="...">{{if $isEditing}}{{.Data.Body}}{{end}}</textarea>
        </div>
        <br>
        <br>
    </form>
</div>
{{end}}