{{template "layout.html" .}}

{{define "title"}}Post List{{end}}

<!-- -------------------------------------------------------------------------------------------------------------------- -->

{{define "styles"}}
<style type="text/css">
    ul.post-list {
        list-style-type: none;
        padding: unset;
    }

    ul.post-list li {
        display: flex;
        align-items: baseline;
        padding: 10px 0;
        border-bottom: 1px solid #eceff4;
    }

    ul.post-list li span {
        flex: 0 0 130px;
    }

    ul.post-list li span.number {
        flex: 0 0 50px;
    }

    ul.post-list li a {
        flex: max-content;
    }

    ul.post-list li small {
        text-align: right;
        flex: 0 0 115px;
    }

    ul.blog-posts li a:visited {
        color: var(--visited-color);
    }

    time {
        font-family: monospace;
        font-size: 15px;
    }
</style>
{{end}}

<!-- -------------------------------------------------------------------------------------------------------------------- -->

{{define "content"}}

{{if .Data.IsPage }}
<h1>Page List</h1>
{{else}}
<h1>Post List</h1>
{{end}}

<a href="/dashboard">
    <button>
        Back to dashboard
    </button>
</a>

<br>

<a href="/dashboard/post/new">
    <button>
        {{if .Data.IsPage }}
        New Page
        {{else}}
        New Post
        {{end}}
    </button>
</a>

<br>

{{if .Data.IsPage }}
<a href="/dashboard/list-posts">
    <button>
        Go to Post List
    </button>
</a>
{{else}}
<a href="/dashboard/list-pages">
    <button>
        Go to Page List
    </button>
</a>
{{end}}

<br>

{{if .Data}}
<ul class="post-list">
    {{range .Data.Posts}}
    <li>
        <span>
            <time datetime="{{.PublishedDate | dateFmt " 2006-01-02"}}">
                {{.PublishedDate | dateFmt "Jan 02, 2006"}}
            </time>
        </span>
        <a href="/dashboard/post/{{.ID}}">
            {{.Title}}
        </a>
        {{if not .Published}}
        <small>
            (Draft)
        </small>
        {{end}}
    </li>
    {{end}}
</ul>
{{else}}
<p style="text-align: center;">No posts found.</p>
{{end}}
{{end}}
